body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  /* background-color: #fff; */
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("https://img.freepik.com/free-vector/robot-human_53876-90440.jpg?w=1060&t=st=1679937486~exp=1679938086~hmac=2e3600e07c4c32f1e7ddb3ed0bfb7452b88de77e2d7dbc934a31c44b23e6c363");
  background-position: center; */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("https://img.freepik.com/free-vector/robot-human_53876-90440.jpg?w=1060&t=st=1679937486~exp=1679938086~hmac=2e3600e07c4c32f1e7ddb3ed0bfb7452b88de77e2d7dbc934a31c44b23e6c363");
}

h1,
h2,
p {
  margin-top: 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}
.container {
  background: center;
  height: 100vh;
}
